*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*Technique to set everything to rem by changing font size
	we change to 10 because of easy math. 1 rem = 10px also 
	comment out the body's 16px font size, setting to 100% makes
	it = to root 16px, but then / 10 for our 10px*/
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  display: flex;
  flex-direction: column;
  height: 100%; }

a {
  text-decoration: none;
  color: #944E8E; }

.container {
  position: relative;
  flex: 1 0 auto; }
  .container::after {
    content: "";
    display: table;
    clear: both; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/28A4A6_0_0.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  font-family: 'Avenir'; }

.menu__ul--li-a {
  font-size: 1.4rem; }

.heading-huge {
  color: #fff;
  text-shadow: 0.2rem 1rem 2rem #000;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1.2rem; }

.heading-main {
  color: #66CCCC;
  font-size: 4.5rem;
  text-shadow: 0 0.1rem #000;
  text-align: center; }

.heading-secondary {
  color: #66CCCC;
  font-size: 3rem; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph__drink-box {
    text-shadow: 0.1rem 0.1rem #030;
    letter-spacing: .1rem;
    font-size: 4rem;
    color: #66CCCC; }
  .paragraph__card {
    font-size: 2.5rem; }
  .paragraph__bioPromo {
    padding-top: 4rem;
    font-size: 2.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.footer__links--li-a {
  font-size: 1.4rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-huge {
  margin-top: 16rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #f4a93f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #f4a93f;
  padding: 0.3rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #f4a93f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.12);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.12);
  transform: translateY(0); }

.btn-join:link, .btn-join:visited {
  margin-left: 45%;
  font-size: 4rem; }

.btn-signup:link,
.btn-signup:visited {
  margin-left: 4%;
  font-size: 4.5rem;
  text-shadow: 0 0.2rem #000;
  box-shadow: 0 0.4rem 0.2rem -0.2rem #000; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card__side {
    color: #fff;
    font-size: 1.8rem;
    height: 44rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
  .card__picture {
    background-size: cover;
    height: 22rem;
    background-blend-mode: color;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
    .card__picture--1 {
      background-image: url(../images/wayne.jpg);
      background-position-y: -8rem; }
    .card__picture--2 {
      background-image: url(../images/terraiums.jpeg); }
    .card__picture--3 {
      background-image: url(../images/clay.jpeg); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    color: #000; }
    .card__details ul li {
      text-align: center;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #777; }

.composition {
  position: relative; }
  .composition__shopPhoto {
    width: 40%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .8rem;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem; }
    .composition__shopPhoto--p1 {
      left: 2%;
      top: -4rem; }
    .composition__shopPhoto--p2 {
      left: 2%;
      top: 15rem; }
    .composition__shopPhoto--p3 {
      left: 40%;
      top: 5rem; }

.menu {
  margin-bottom: 6px; }
  .menu__ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    .menu__ul--li {
      float: left;
      background-color: #ffa610;
      margin-right: 6px; }
      .menu__ul--li:first-child {
        margin-right: 7px; }
      .menu__ul--li:nth-child(3n+1) {
        background-color: #ffd121; }
      .menu__ul--li:nth-child(3n+2) {
        background-color: #fc9400; }
      .menu__ul--li:nth-child(3n+3) {
        background-color: #ff7e00; }
      .menu__ul--li:last-child {
        margin-right: 0px;
        margin-left: 1px; }
    .menu__ul--li-a {
      display: block;
      height: 33px;
      width: 128px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 33px;
      color: White; }
    .menu__ul--li-a:hover {
      background-color: #ace3d2; }

.footer {
  margin-bottom: 1rem;
  flex-shrink: 0;
  padding: 0 2rem; }
  .footer__social {
    float: right; }
    .footer__social--ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none; }
    .footer__social--li {
      float: left;
      margin-right: 20px; }
    .footer__social--li-a {
      color: #fc0;
      font-weight: bold; }
  .footer__links {
    margin-bottom: .6rem; }
    .footer__links--ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none; }
    .footer__links--li {
      float: left;
      margin-right: 20px; }
    .footer__links--li-a {
      color: #fc0; }
  .footer__legal {
    color: #666;
    font-size: 1.2rem; }
    .footer__legal-small {
      font-size: .28rem !important; }

.clear {
  clear: both; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-2-of-2 {
    width: calc((100% - 6rem)); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  position: relative;
  background-color: #ffa610;
  height: 144px;
  margin-bottom: 6px; }
  .header__heading {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.2rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-left: 23%;
    padding-top: 5rem;
    width: 75%; }

.logo {
  position: absolute;
  top: 18px;
  left: 18px; }

.events {
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 0 6rem; }

.promotion {
  margin-top: 2rem;
  margin-bottom: 6rem;
  padding: 0 3rem; }

.bio {
  position: relative; }
  .bio__shape {
    float: left;
    width: 60rem;
    height: 45rem;
    shape-outside: url(../images/cocktails.png);
    shape-margin: 3.5rem;
    shape-image-threshold: 0.5;
    background: url(../images/bartender2.png);
    background-position-x: -62rem;
    background-position-y: 0;
    -webkit-mask-image: url(../images/cocktails.png); }
  .bio__name {
    color: #66CCCC;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center; }

.drink-box {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.7) 28%, transparent 65%), url(../images/drinks.jpg);
  background-size: cover;
  border-radius: .3rem;
  box-shadow: 1rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
  height: 48rem; }
  .drink-box__content {
    width: 70%;
    padding: 2rem 3rem; }

.shop {
  margin-top: 5rem;
  margin-bottom: 10rem;
  padding: 0 2rem; }
  .shop__workshop {
    margin-top: 5rem;
    padding: 30rem 0;
    background-image: linear-gradient(to right bottom, rgba(244, 169, 63, 0.3), rgba(240, 132, 51, 0.3)), url(../images/second3.jpg);
    background-size: cover;
    transform: skewY(-7deg); }
    .shop__workshop > * {
      transform: skewY(7deg); }
  .shop__store {
    padding: 30rem 0;
    background-image: linear-gradient(to right bottom, rgba(244, 169, 63, 0.3), rgba(240, 132, 51, 0.3)), url(../images/second4.jpg);
    background-size: cover;
    transform: skewY(-7deg); }
    .shop__store > * {
      transform: skewY(7deg); }
  .shop__events {
    padding: 30rem 0;
    background-image: linear-gradient(to right bottom, rgba(244, 169, 63, 0.3), rgba(240, 132, 51, 0.3)), url(../images/second2.jpg);
    background-size: cover;
    transform: skewY(-7deg); }
    .shop__events > * {
      transform: skewY(7deg); }
  .shop__members {
    padding: 30rem 0;
    background-image: linear-gradient(to right bottom, rgba(244, 169, 63, 0.3), rgba(240, 132, 51, 0.3)), url(../images/second1.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-bottom: 8rem; }
    .shop__members > * {
      transform: skewY(7deg); }
