.footer {
    margin-bottom: 2rem;

    &__social {
        float: right;

        &--ul {
           margin: 0px;
           padding: 0px;
           list-style-type: none;
        }

        &--li {
           float: left;
           margin-right: 20px;
        }

        &--li-a {
            color: #fc0;
            font-weight: bold;
        }
    }

    &__links {
        margin-bottom: .6rem;

        &--ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }

        &--li {
            float: left;
            margin-right: 20px;
        }

        &--li-a {
            color: #fc0;
        }
    }

    &__legal {
        color: #666;
        font-size: 1.2rem;
    }
}

.clear {
    clear: both;
}

