.container {
    position: relative;
    width: 800px;
    margin: 0px auto;
}

.header {
    position: relative;
    background-color: #ffa610;
    height: 144px;
    margin-bottom: 6px;
}

.logo {
    position: absolute;
    top: 18px;
    left: 18px;
}
