.composition {
	position: relative;

	&__shopPhoto {
		width: 40%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
		border-radius: .8rem;
		position: absolute;
		z-index: 10;
		outline-offset: 2rem;

		&--p1 {
			left: 2%;
			top: -4rem;
		}
		&--p2 {
			left: 2%;
			top: 15rem;
		}
		&--p3 {
			left: 40%;
			top: 5rem;
		}

	}

}
