@font-face {
	font-family: 'Avenir';
	src: url('../fonts/28A4A6_0_0.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-dark;
	font-family: 'Avenir';
}

.menu__ul--li-a {
	font-size: 1.4rem;
}

.heading-huge {
	color: $color-white;
	text-shadow: .2rem 1rem 2rem $color-black;
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 1.2rem;
}

.heading-secondary {
	color: $color-heading;
	font-size: 2rem;
}

.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: $default-font-size;

	&__drink-box {
		text-shadow: 0.1rem 0.1rem #030;
		letter-spacing: .1rem;
	}
	
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.footer__links--li-a {
	font-size: 1.4rem;
}

