.promotion {
	margin-top: 2rem;
	margin-bottom: 6rem;
	padding: 0 3rem;
}

.bio {
	position: relative;

	&__shape {
		display: block;
		margin-top: 6rem;
		float: left;
		width: 60rem;
		height: 45rem;
		shape-outside: url(../images/cocktail.png);
		shape-margin: 3.5rem;
		shape-image-threshold: 0.5;
		background: url(../images/bartender2.png);
		background-position-x: -62rem;
		background-position-y: 0;
		-webkit-mask-image: url(../images/cocktail.png);
	}

	&__name {
		// position: absolute;
		top: -5rem;
		left: 0;
		color: $color-heading;
		font-size: 2.8rem;
		text-transform: uppercase;
		text-align: center;
		z-index: 3;
		width: 90%;
	}
}

.drink-box {
	background-image: linear-gradient(105deg, rgba($color-white, .6) 0%, rgba($color-white, .7) 28%, transparent 40%),
	url(../images/drinks.jpg);
	background-size: cover;
	border-radius: .3rem;
	box-shadow: 1rem 0.5rem 2rem rgba($color-black, .5);
	height: 48rem;

	&__content {
		width: 28%;
		padding: 2rem 3rem;
	}
}